.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.teamName {
    margin-bottom: 10px;
}

.table {
    border-collapse: collapse;
}

.cell {
    border: 1px solid #ccc;
    padding: 3px;
}