.title {
  grid-column: 1 / -1;
  margin-top: 50px;
  margin-bottom: 10px;
}

.cell {
  border: 1px solid white;
  padding: 2px;
}

.dateCell {
  writing-mode: vertical-rl;
  padding: 2px;
}

.blockedOut {
  background-color: #f00;
}
