.table {
  border-collapse: collapse;
}

.cell {
  border: 1px solid white;
  padding: 2px;
}

.dateCell {
  writing-mode: vertical-rl;
  padding: 2px;
  width: 25px;
}

.blockoutCell {
  text-align: center;
  vertical-align: middle;
  width: 10px;
}

.blockedOut {
  background-color: #f00;
}
